In [1]:
import pandas as pd

In [2]:
#Reading File 
df=pd.read_csv("nyc_weather.csv")
df.head(5)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [3]:
#getting Max  of column [Max Temperature in this Case]
df['Temperature'].max()

np.int64(50)

In [4]:
#getting Min  of column [Min Temperature in this Case]
df['Temperature'].min()

np.int64(20)

In [5]:
#Dates on which it Rained [Where Condition ]
df['EST'][df['Events']=='Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [6]:
#Average Wind Speed
df['WindSpeedMPH'].mean()

np.float64(6.892857142857143)

In [ ]:
#Fill 0 for all NA Value 
df.fillna(0,inplace=True)

In [7]:
#Fill 0 for NA Value in 
df['WindSpeedMPH'].fillna(value=0,inplace=True)

<ipython-input-7-213ff7b2e298>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['WindSpeedMPH'].fillna(value=0,inplace=True)

In [8]:
#Average Wind Speed
df['WindSpeedMPH'].mean()

np.float64(6.225806451612903)