In [1]:
import pandas as pd

In [4]:
#Reading File and pushing data into Dataframe
df=pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [1]:
# Creating Dataframe by adding data directly from array
import pandas as pd
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
#df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [3]:
# Getting table structure [No of Rows and Column]
df.shape

(6, 4)

In [5]:
# Storing shape into veriable and print rows and columns
rows,columns=df.shape
rows

6

In [7]:
#Print top/Bottom rows to check if all column are right
df.head(2) #Top 2 rows
df.tail(4) # Bottom 4 rows

        day  temperature  windspeed  event
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [9]:
#Pring defined row number E.g 2 to 4 [Note :It includes row number 2 but not row number 5]
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [10]:
#If end index number is  not given it will pring from defined beginning number to end [In our case 2 to row 5]
df[2:]

        day  temperature  windspeed  event
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [11]:
#If beginning index number is  not given it will pring from beginning to entered index number [In our case 2 to row 5]
df[:3]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [13]:
#Pringting the column names of dataframe
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [18]:
#Printing the individual column 
df.day # or df['day']

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [20]:
#Printing only few columns
df[['day','event']]

        day  event
0  1/1/2017   Rain
1  1/2/2017  Sunny
2  1/3/2017   Snow
3  1/4/2017   Snow
4  1/5/2017   Rain
5  1/6/2017  Sunny

In [23]:
#Max Temperature
df['temperature'].max() #df['temperature'].min() / df['temperature'].mean()/ df['temperature'].std()

np.int64(35)

In [24]:
#statestics of dataset
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [30]:
#Conditionally select data
#Temperature Greater than 32
df[df['temperature']>=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [31]:
#Just porint the day windspeed for days when temp >32
df[['day','windspeed']][df['temperature']>=32]  #Syntax df[[column1,column2]][condition]

        day  windspeed
0  1/1/2017          6
1  1/2/2017          7
4  1/5/2017          4

In [32]:
#Print dataframe where date is max
df[df['temperature']==df['temperature'].max()] #df[df.temperature==df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [33]:
#Print selected columns from dataframe where date is max
df[['day','windspeed']][df['temperature']==df['temperature'].max()] #df[['day','windspeed']][df.temperature==df.temperature.max()]

        day  windspeed
1  1/2/2017          7

In [35]:
df.index #In index end n umber will not be included that means we have index from 0 to 5

RangeIndex(start=0, stop=6, step=1)

In [36]:
#Using set_index - It replaces index number to a column in dataframe
#We will set day as our index
df.set_index('day',inplace=True)
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [39]:
#Now locating the row which has date as  1/1/2017 based on new index 
df.loc['1/1/2017']

temperature      32
windspeed         6
event          Rain
Name: 1/1/2017, dtype: object

In [41]:
#Resetting index if we don't need 
df.reset_index(inplace=True)
df

   index       day  temperature  windspeed  event
0      0  1/1/2017           32          6   Rain
1      1  1/2/2017           35          7  Sunny
2      2  1/3/2017           28          2   Snow
3      3  1/4/2017           24          7   Snow
4      4  1/5/2017           32          4   Rain
5      5  1/6/2017           31          2  Sunny